:root {
    --primary-text: #ccd6f6;
    --secondary-text: #8892b0;
    --background-color: #0a192f;
    --background-color2: #112240;
    --highlight-color: #52d2b9;
    --highlight-color2: #52d2b933;
    --navbar-color: var(--background-color);
    --scroll-bar-color: var(--secondary-text);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: var(--background-color);
    height: 100%;
}

body {
    overflow: overlay;
}

.description {
    left: 50%;
    position: absolute;
    top: 45%;
    transform: translate(-50%, -45%);
    text-align: center;
}

.description h1 {
    color: var(--primary-text);
}

.description h2 {
    color: var(--secondary-text);
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border-radius: 20px;
}